*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image: url(../img/Tavolo-da-pranzo.webp);
    background-size: cover;
    font-family: 'Dancing Script', cursive;
}

main{
    background-image: url(../img/lista.jpeg);
    width: 700px;
    height: 700px;
    margin: 0 auto;
}

.inline-block{
    display: inline-block;
}

.title{
    font-weight: bold;
}

.product{
    font-size: 2rem;
}

li i{
    font-size: 16px;
    padding-left: 10px;
}

li i:hover{
    font-size: 18px;
    color: red;
    text-decoration: line-through;
}

.addItem{
    width: 40%;
    background-color: #fef596;
}

button{
    padding: 0 7px;
    text-transform: uppercase;
    color: rgb(217, 255, 80);
    background-color: goldenrod;
}